
DATABASE_URL=
MAIL_USERNAME=
MAIL_PASSWORD=

DEFAULT_PASSWORD=
# 32length password
SECRET_COOKIE_PASSWORD=

UPLOADTHING_TOKEN=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

NEXT_PUBLIC_STRIPE_TEST_CLIENT_SECRET=
